#but1{
    height: 60px;
    width:60px;
    border-radius:50%;
    font-weight: bold;
    background-color: black;
    color:white;
    border:1px solid white;
}
#but2{
    height: 60px;
    width:60px;
    border-radius:50%;
    font-weight: bold;
    background-color: white;
    border:1px solid black;
}

